@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}

.container {
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}

.title {
  flex: 1;
  color: gold;
  cursor: pointer;
}

.banner {
  background-image: url("/src/components/Banner/dark-mode.jpeg");
}

.banner-content {
  height: 400;
  display: "flex";
  flex-direction: "column";
  padding-top: 25;
  justify-content: "space-around";
}

.tagline {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

.row {
  background-color: #16171a;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.row:hover {
  background-color: #131111;
}

.coin-container {
  display: flex;
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25;
  border-right: 2px solid grey;
}

@media screen and (max-width:900px) {
  .coin-container {
    flex-direction: column;
    align-items: center;
  }
  .sidebar {
    width: 100%;
  }

  .marketData {
   display: flex;
   justify-content: space-around;
  }

  .chart-container{
    width: 100%;
    margin-top: 0;
    padding: 20;
    padding-top: 0;
  }
}

@media screen and (max-width:750px) {
  .marketData {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:400px) {
    .marketData {
      align-items: start;
    }
}

.select-button:hover {
  background-color: gold;
  color: black;
}